MAINTAINER="Stephan Linz" # deb signature
MAINTAINERMAIL="linz@li-pro.net" # deb signature
USEALLCORES=yes # use all CPU cores for compiling
USE_CCACHE=yes # use fast C/C++ compiler cache for compiling
display_alert "Using fast C/C++ compiler cache" "$CCACHE_DIR" "info"
ccache -s
# EXIT_PATCHING_ERROR=yes # exit patching if failed
TZDATA="Europe/Berlin" # timezone for target
DEST_LANG="de_DE.UTF-8" # language for target
# PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL nfs-kernel-server"
